<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Collaboration and Contribution</title>
  <link rel="stylesheet" href="src/css/style.css">

  <script defer type="module" src="dist\out-tsc\index.js"></script>
</head>

<body>

  <div class="header-desktop desktop-only">
    We'd love to build something <br> amazing together!
  </div>

  <div class="header-mobile mobile-only">
    Do you want to be part of <br> our mission?
  </div>

  <div class="button-desktop desktop-only " >
    <p>Unlock your potential </p>
  </div>
  <div class="arrow-desktop desktop-only">
    <img src="https://res.cloudinary.com/dyl3rncv3/image/upload/v1695972080/elewa-education-website/Shared/toRightArrow_tlcdnk.svg" alt="right-arrow"/>
  </div>
    
 

  <div class="button-mobile mobile-only" >
    <p>Become an investor </p></div>
    <div class="arrow-mobile mobile-only" >
      <img src="https://res.cloudinary.com/dyl3rncv3/image/upload/v1695972080/elewa-education-website/Shared/toRightArrow_tlcdnk.svg" alt="right-arrow"/>
    </div>
  
  
  
</body>

</html>

