/* *{
    text-decoration: none;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif; 
} */
body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.footer {
        background-color: blue;
        color: hsl(0, 0%, 100%);
        padding: 100px;
        text-align: center;
        border-top-left-radius: 80px; 
        border-top-right-radius: 80px;
        margin-top: 10px;
        margin-bottom: 0px;
    }
.footer-title{
    font-size: 3.5rem;
    margin-top: -50px;
}
#title2{
    margin-top: -50px;
}
button {
    margin-top: 10px;
    border: solid 2px white;
    background-color: white;
    background-image: url(/src/elements/assets/toRightArrow_tlcdnk.svg);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    }

.slidecontainer {
    margin-top: 10px;
    margin: 0 auto;
    border: solid 2px white;
    text-align: center;
    border-radius: 20px;
    width: 200px;
    height: 50px;
    }

.slidecontainer:hover {
    background-color: #fff;

    transition: ease 3s;
    }
/* .slidecontainer p {

        color: white;
    } */
.footer-separator {
        width: 100%;
        border-top: 2px solid #fff;
        margin: 20px 0;
    }
.footer-c{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));

}
    
.footer-content-wrapper {
        display: flex;
        flex-direction: column;
        gap: 160px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    
.footer-content {
    text-align: left;
    padding: 10px;
    }
.footer-contentm {
    text-align: left;
    padding: 10px;
    }
        
.footer-content h4 {
        font-size: 16px;
        margin-bottom: 10px;
    }
    
.footer-content ul {
        list-style-type: none;
        padding: 0;
    }
.footer-contentm ul {
        list-style-type: none;
        padding: 0;
    }
    
.footer-content ul li {
        margin-bottom: 5px;
    }
.footer-content li a{
        display: block;
    }
    
.footer-content ul li:{
    border-top-right-radius: 80px;
    width:2%;
    margin-left: 0%;
    }
.footer-icons{
    margin-left: 80%;
}
.footer-icons a{
    margin: 10px;
}
.footer-logo{
}
.footer-logo img{
    filter: brightness(0);
    width: 7.5rem;
    margin-right: 100%;
}

.slidecontainer-m{
    /* margin-top: 10px;
    margin: 0 auto;
    border: solid 2px white;
    text-align: center;
    border-radius: 20px;
    width: 200px;
    height: 50px; */
    display: hide;
    transform: scale(0);
}
h1 {
    transform: scale(0);
}
@media screen and (max-width: 667px) {
    .footer {
      background-color: rgb(21, 22, 21);
    }
    .footer-title{
        transform: scale(0);
    }
    
    .footer-contentm{
        display: inline;
    }
    
  }