<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./footer.css">
</head>
<body>
    <section class="footer">
        <p>We'd love to build something amazing together!</p>
        <div class="slidecontainer">
            <p>Unlock your potential <img src="src/elements/assets/arrow.png" alt="direction"></p>
          </div>
        <div class="footer-separator">

        </div>
        <div class="footer-content">
            <h4>Headquarters</h4>
            <ul>
                <li>The Promenade, 19 General</li>
                <li>Mathenge Rd</li>
                <li>Nairobi, Kenya</li>
            </ul>
        </div>
        <div class="footer-content">
            <h4>Contact</h4>
            <ul>
                <li>T +254 78 92 27 755</li>
                <li>E.info@elewa.co.ke</li>
            </ul>
        </div>
        <div class="footer-content">
            <h4>Navigation</h4>
            <ul>
                <li>Projects</li>
                <li>Company</li>
                <li>News</li>
                <li>Contact</li>
            </ul>
        </div>
        <div class="footer-content">
            <h4>Solutions</h4>
            <ul>
                <li>Consultancy</li>
                <li>Content development</li>
                <li>Conversational Learning</li>
                <li>Booklets</li>
            </ul>
        </div>
        <div class="footer-content">
            <h4>Privacy</h4>
            <ul>
                <li>Terns and conditions</li>
                <li>Cookie preferences</li>
            </ul>
        </div>
        <div class="footer-icons">
            <a href="#"><img src="https://res.cloudinary.com/dyl3rncv3/image/upload/v1675690295/elewa-group-website/Icons/SVG/_Social/instagram_x8ujcq.svg"/></a>
            <a href="#"><img src="https://res.cloudinary.com/dyl3rncv3/image/upload/v1675690294/elewa-group-website/Icons/SVG/_Social/linkedin_x8smhm.svg"/></i></a>
            <a href="#"><img src="https://res.cloudinary.com/dyl3rncv3/image/upload/v1675690294/elewa-group-website/Icons/SVG/_Social/facebook_lhhwk2.svg"/></a>
        </div>

        <div class="footer-logo">
            <img src="https://res.cloudinary.com/dyl3rncv3/image/upload/v1695970671/elewa-education-website/Shared/elewa-logo_eocvkz.png" alt="logo">
        </div>
    </section>
</body>
</html>