*{
    text-decoration: none;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif; 
}
.footer {
        background-color: blue;
        color: #fff;
        padding: 20px;
        text-align: center;
        border-top-left-radius: 80px; 
        border-top-right-radius: 80px;
    }
    
.slidecontainer {
        margin-top: 10px;
        border: solid 2px white;
        text-align: center;
        border-radius: 20px;
        width: 200px;
        height: 50px;
    }
    
.slidecontainer p {
        font-weight: bold;
        font-size: 18px;
        color: white;
    }
.footer-separator {
        width: 100%;
        border-top: 2px solid #fff;
        margin: 20px 0;
    }
    
.footer-content-wrapper {
        display: flex;
        flex-direction: column;
        gap: 160px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        overflow: hidden;
    }
    
.footer-content {
    text-align: left;
    padding: 10px;
    display: grid;
    position: relative;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    left: 0; */
    right: 0;
    bottom: 0;
    }
    
.footer-content h4 {
        font-size: 16px;
        margin-bottom: 10px;
    }
    
.footer-content ul {
        list-style-type: none;
        padding: 0;
    }
    
.footer-content ul li {
        margin-bottom: 5px;
    }
.footer-content li a{
        display: block;
    }
    
.footer-content ul li:first-child {
        font-weight: bold;
    }
.footer-logo{
        width:2%;
        margin-left: 0%;
    }
.footer-icon{
}