<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/src/css/style.css">
    <title>Website footer</title>
</head>
<body>
    <section class="footer">
    <h1 class="heading">We'd love to build something <br> amazing together!</h1>
    <div>
        
    </div>
    <button class="btn2">
        Unlock your potential
        <span class="arr">
          <span class="arrow-icon">&#8594;</span>
        </span>
      </button>      
    <hr>
    <!-- unordered List elements -->
    <div class="list">
        <ul>
            <h3 class="head1">Headquarters</h3>
            <li>The Promenade, 19 General</li>
            <li>Mathenge Rd</li>
            <li>Nairobi, Kenya</li>
        </ul>
    
        <ul>
            <h3 class="head1">Contact</h3>
            <li>T +254 78 92 27 755</li>
            <li>E info@elewa.co.ke</li>
        </ul>
    
        <ul>
            <h3 class="head1">Navigation</h3>
            <li>Projects</li>
            <li>Company</li>
            <li>News</li>
            <li>Contact</li>
        </ul>
    
        <ul>
            <h3 class="head1">Solutions</h3>
            <li>Consultancy</li>
            <li>Content development</li>
            <li>Conversational Learning</li>
            <li>Booklets</li>
        </ul>
    
        <ul>
            <h3 class="head1">Privacy</h3>
            <li>Terms and conditions</li>
            <li>Cookie preferences</li>
        </ul>
    </div>

    <div class="soc">
    <img class="logo1" src="https://res.cloudinary.com/dyl3rncv3/image/upload/v1695970671/elewa-education-website/Shared/elewa-logo_eocvkz.png" alt="Logo">

    <!-- Social media icons -->
    <div class="social">
        <a href="#"><i class="fab fa-facebook fa-2x"></i></a>
        <a href="#"><i class="fab fa-instagram fa-2x"></i></a>
        <a href="#"><i class="fab fa-linkedin fa-2x"></i></a>
    </div>
    </div>
    </section>
</body>
</html>