{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": "standard-with-typescript",
  "parserOptions": {
    "ecmaVersion": "latest"
  },

  "rules": {
    "semi": ["error", "always"],
    "quotes": ["error", "double"]
  }
}
