*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    
}

footer .container{
    padding-top: 3rem;
    background-color: rgb(48, 48, 108);
    border-radius: 1rem;
    display: grid;
}

h1{
    color: white;
    text-align: center;
}

.button{
    display: flex;
    border-radius: 1rem;
    padding-top: 3rem;
    align-content: center;
    background-color: rgb(48, 48, 108);
}

.row{
    display: flex;
    justify-content: space-between;
    padding: 40px 100px;
}

.footer-col ul{
    list-style: none;
}

.footer-col h4{
    color: white;
    margin-bottom: 3rem;
    position: relative;
    font-size: 22px;
}

.footer-col ul li{
    padding: 10px 0;
}

.footer-col ul li a{
    color: white;
    font-size: 0.9rem;
    text-decoration: none;
    font-size: 15px;
}

