body {
    height: 100%;
    margin: 0;
  }
  
  body {
    background: radial-gradient(circle, #81d46f 0%, rgba(41, 45, 62, 1) 100%);
  }

  .super-container {
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    height: 100%;
  }