* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
}

.about_hero_section-container {
  max-width: 1502px;
  margin: 0 auto;
  height: calc(100vh - 120px);

  display: flex;
  align-items: center;
}

.about_hero_desc {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-right: 20px;
}

.about_hero-title {
  font-size: 82px;
  font-weight: 500;
}

.about_hero-body {
  font-size: 32px;
  font-weight: 400;
  padding-right: 24px;
}

.about_hero_img {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 12px;
}

.about_hero-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
