/* universal styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
  background: #f9f8f4;
}



.header-container {
  display: flex;
  margin-top: 65px;
}
/* positioning the header and navbar as per design */
.logo img{
 margin-left: 209px;
 height: 65px;
 width: 153px;
}
.navbar {
  margin-left: 201px;
  position: relative;
}
.navbar a {
  padding: 20px;
  padding-right: 40px;
  align-items: center;
  text-decoration: none;
  color: black;
}
.navbar  {
  display: flex;
  margin-left: 350px;
}

 /* taking the menu options and button to the right */
.header-button {
  float: right;
  margin-top: 5px;
  color: white;
  border: none;
  border-radius: 22px;
  background: #2D2E52 0% 0% no-repeat padding-box;
  width: 134px;
  height: 44px;
  cursor: pointer;
  
}
/* hidding the menu icon in big screens */
#toggler,
.header-container label {
  display: none;
  color: black;
}
.header-button:hover{
  background: none;
  border-color: black;
  border-width: 1px;
  border-style: dotted;
  color: #2D2E52;
}

/* styling the hero elements to fit in the large screen */
.hero{
  display: flex;
  
}
.hero-content{
  width: auto;
  margin-top: 220px;
  margin-left: 209px;
}
.hero-header {
 width: 400px;
 height: 150px;
 font-weight: 800;
 font-size: 35px;
}
.hero-header h1 {
  font-weight: 800;
}

.hero-image{
  width: auto;
  margin-top: 75px;
}
.hero-text{
  width: 633px;
  height: 220px;
  font: bolder;
}
.hero-text p {
  font-weight: 400;
}
/* media querry for tablets */
@media (max-width: 768px) {
  .hero {
    margin-top: 50px;
  }
  section {
    font-size: x-large;
  }

  .header-container {
    width: 100%;
  }
  .hero {
    width: 70%;
  }
  .navbar {
    display: none;
    margin-left: 0px;
  }

    .header-container label {
      display: inline-flex;
      align-items: center;
      margin-left: 650px;
      margin-top: 35px;
      width: 30px;
      height: 20px;
    }

    #toggler:checked~.navbar {
      max-height: 100%;
      display: grid;
      grid-column: span;

      /* exposing the menu icon for small screens -- tablets and below */
    }
  }
/* styling for phones */
    @media (max-width: 427px) {
  
      body {
        font-size: xx-large;
        margin: 0px;
      } 
      .hero {
        margin-top: -100px;
        display: block;
        flex-direction: column-reverse;
      }
      .hero-image {
        margin-left: 200px;
      }  
  
      .header-container label {
        display: inline-flex;
        align-items: center;
        margin-left: 250px;
        margin-top: 15px;
      }
  
      #toggler:checked~.navbar {
        max-height: 100%;
        position: relative;
        display: grid;
        grid-column: span;
  
      }
  
  
    }
