*{
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    height: 100vh;
    background-color: #ece3d9;
    overflow: hidden;
}
.navbar{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
}
#logo{
width: 160px;
height: 80px;
position: relative;
margin: 15px 0 0 10%;
}
.navbar nav{
    position: relative;
    margin: 2% 0 0 20%;
    
}
.navbar nav a{
    text-decoration: none;
    color: black;
    font-size: large;
    margin-left: 40px;
    font-family: 'Roboto', sans-serif;
}
.navbar .menu{
    display: none;
}

.navbar nav .material-symbols-outlined{
    position: relative;
    top: 9px;
}
.navbar nav #abt{
    text-decoration: underline;
}
.navbar #contact{
    width: 100px;
    height: 40px;
    border-radius: 20px 20px 20px 20px;
    border: none;
    background-color: rgb(7, 7, 94);
    color: white;
    margin: 1.5% 0 0 20%;
}
.abouts{
    text-align: justify;
    width: 600px;
    height: max-content;
    margin: 13% 0 0 20%;
}
.abouts h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 3.5rem;
    letter-spacing: 2px;
}
.abouts p{
    font-family: 'Open Sans', sans-serif;
    line-height: 1.8rem;
    margin-top: 40px;
    font-size: 1.4rem;
}
.img-cover{
    position: relative;
    width: max-content;
    height: max-content;
    margin: -25% 0 0 50%;
}
.img-cover img{
    width: 600px;
    height: 600px;
}
.img-cover #play{
    position: relative;
    width: 100px;
    height: 100px;
    background-color: white;
    color: black;
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin: -56% 0 0 45%;
}
.menu{
    display: none;
}

/* media */
@media (max-width:1400px) {
    #logo{
    width: 160px;
    height: 80px;
    position: relative;
    margin: 15px 0 0 5%;
    }
    .navbar nav{
        position: relative;
        margin: 2% 0 0 10%;
    }
    .navbar nav a{
        text-decoration: none;
        color: black;
        font-size: large;
        margin-left: 40px;
    
    }
   .abouts{
    margin-left: 10%;
   }
   .img-cover{
    height: 450px;
   }
   .img-cover img{
       width: 400px;
       height: 400px;
       margin: -5% 0 0 0;
   }
   .img-cover #play{
    width: 80px;
    height: 80px;
    margin-left: 35%;
   }
    
} 
@media(max-width:1070px){
    .navbar #contact{
        margin-left:15%;
        width: 80px;
        height: 30px;
        border-radius: 20px 20px 20px 20px;
        border: none;
        background-color: rgb(7, 7, 94);
        color: white;
        margin-top: 1.8%;
        font-size: 0.6rem;
    }
    .navbar nav{
        position: relative;
        margin: 2% 0 0 10%;
    }
    .navbar nav a{
        font-size: smaller;
        margin-left: 40px;
    }
    .abouts h1{
        font-family: 'Open Sans', sans-serif;
        font-size: 2.5rem;
        letter-spacing: 2px;
    }
    .abouts p{
        font-family: 'Open Sans', sans-serif;
        line-height: 1.8rem;
        margin-top: 40px;
        font-size: 1rem;
    }
    .img-cover{
        margin: -30% 0 0 45%;
    }

   

}
@media(max-width:790px){
    .navbar nav, #contact{
        display: none;
    }
    .menu{
    display: block;
    margin: -10% 0 0 80%;
   }
   .abouts{
    position: relative;
    margin: 5% 0 0 20%;
    width: 400px;
   }
   .img-cover img{
       width: 300px;
       height: 300px;
       margin: 78% 0 0 -50%;
   }
   .img-cover #play{
    width: 80px;
    height: 80px;
    margin-left: -15%;
   }
   

}
@media (max-width: 500px){
    .menu{
        display: block;
        margin: -15% 0 0 90%;
       }
    .abouts{
        position: relative;
        margin: 15% 0 0 20%;
        width: 400px;
       }
       .img-cover img{
           width: 300px;
           height: 300px;
           margin: 60% 0 0 -30%;
       }
       .img-cover #play{
        width: 80px;
        height: 80px;
        margin-left: 10%;
       }
}