body{
    background: #FCF6E4 0% 0% no-repeat padding-box;
  }
  
  .container-head{
    width: 1502px;
    height: 65px;
    margin-bottom: 63px;
    display: flex;
    align-items: center;
    top: 53px;
    left: 209px;
    width: 1502px;
    height: 65px;
    /* UI Properties */
    opacity: 1;
  }
  
  
  
  @media screen and (min-width: 200px) and (max-width: 769px){
    .container-head {
      display: inline-block;
      margin-left: 200px;
    }
    .container-link{
      display: block;
      margin: 20px 0 30px 40px;
      font-size: 25px;
      text-align: center !important;
    }
    .contact-button{
      margin-left: 20px;
    }
  }
  
  
  
  .elewa-logo-container{
    width: 153px;
    height: 65px;
    filter: brightness(0);
    margin-right: 389px;
  }
  
  .container-link{
    text-decoration: none;
    margin-right: 34px;
    top: 65px;
    left: 751px;
    width: 86px;
    height: 24px;
    font-family: "DM Sans", sans-serif;
    text-align: left;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
  }
  
  @media screen and (min-width: 769px) and (max-width: 1350px){
    .elewa-logo-container{
      margin-right: 100px !important;
    }
    .container-head-links{
      margin-right: 100px !important;
    }
  }
  
  .arrow {
    border: solid black;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;
    margin-bottom: 4px;
    margin-left: 2px;
  }
  
  .down{
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  
  .container-head-links{
    margin-right: 402px;
  }
  
  .contact-button{
    background-color:#2D2E52;
    border-radius: 22px;
    width: 134px;
    height: 44px;
    color: white;
    font-size: 18px;
    font-family: "DM Sans", sans-serif;
  }
  
  .content-dev{
      padding-left: 209px;
      padding-right: 209px;
      margin-top: 53px;
      margin-bottom: 305px;
  
      
  }
  
  
  
  .content-dev-center{
    width: 100%;
  }
  
  
    .content-dev-center-text{
      margin-top: 195px;
      width: 700px;
    }
  
    @media screen and (min-width: 300px) and (max-width: 900px){
      .content-dev-center-text{
        text-align: center;
        width: 500px !important;
        margin: 120px 0 40px 0  ;
      }
      .content-dev-center h2{
        text-align: center !important;
      }
      .unlock{
        margin-left: 120px;
      }
    }
  
  
    
    .content-dev-center h2{
      font-size: 65px;
      color: #000000;
      font-family: "DM Sans", sans-serif;
      text-align: left;
      font: normal normal medium 82px/110px DM Sans;
      letter-spacing: 0px;
      color: #000000;
      opacity: 1;
      margin-bottom: 30px;
    }
  
    .content-dev-center-text span{
      top: 569px;
      left: 207px;
      width: 839px;
      height: 52px;
      font-family: "DM Sans", sans-serif;
      font-size: 26px;
      /* UI Properties */
      text-align: left;
      font: normal normal medium 40px/110px DM Sans;
      letter-spacing: 0px;
      color: #000000;
      opacity: 1;
      font-weight: 400;
      line-height: 40px;
    }
  
    .unlock{
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 29px;
      background-color: #000000;
      margin-top: 40px;
      width: 267px;
      height: 58px;
      
    }
  
    .unlock-text{
      color: white;
      margin-right: 10px;
      font-size: 18px;
      font-weight: bold;
    }
  
    .arrow-button{
      background-color: white;
      border-radius: 50%;
      width: 42px;
      height: 42px;
      float: right;
      font-size: 32px;
      font-weight: bold;
    }
  
  .rectangles{
    float: left;
    display: flex;
    position: absolute;
    z-index: -1;
    right: 40px;
    bottom: -50px;
  }
  
  @media screen and (min-width: 855px) and (max-width: 1400px){
    .rectangles{
      right: -10px !important;
    }
  }
  
  @media screen and (min-width: 255px) and (max-width: 750px){
    .rectangles{
      right: -500px !important;
      bottom: -150px;
    }
  }
  
  /* styling for decorative rectangles */
  
  .rectangle-tall{
    top: 2831px;
    left: 1447px;
    width: 381px;
    height: 781px;
    /* UI Properties */
    background: transparent linear-gradient(180deg, #F2CF73 0%, #F2CF7300 100%) 0% 0% no-repeat padding-box;
    mix-blend-mode: multiply;
    border-radius: 210px;
    opacity: 1;
  
    margin: 106px 0 0 60px;
    
  }
  
  .rectangle-medium{
  top: 2920px;
  left: 1236px;
  width: 381px;
  height: 652px;
  /* UI Properties */
  background: transparent linear-gradient(180deg, #F2CF73 0%, #F2CF7300 100%) 0% 0% no-repeat padding-box;
  mix-blend-mode: multiply;
  border-radius: 210px;
  opacity: 1;
  margin: 225px 0 0 60px;
  }
  
  .rectangle-small{
    top: 3011px;
  left: 1025px;
  width: 381px;
  height: 390px;
  /* UI Properties */
  background: transparent linear-gradient(180deg, #F2CF73 0%, #F2CF7300 100%) 0% 0% no-repeat padding-box;
  mix-blend-mode: multiply;
  border-radius: 240px;
  opacity: 1;
  margin-top: 446px;
  }
  
  