

body{
    background-color: #2D2E52;
}

.section-one{
    text-align: center;
}

.btn-unlock{
    border-radius: 15px;
    border: none;
    text-align: center;
}

footer .footer {
	/* Font & Text */
	font-family: DMSans-Regular;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	letter-spacing: normal;
	line-height: normal;
	text-decoration: none solid rgb(255, 255, 255);
	text-align: start;
	text-indent: 0px;
	text-transform: none;
	vertical-align: baseline;
	white-space: normal;
	word-spacing: 0px;

	/* Color & Background */
	background-attachment: scroll;
	background-color: rgb(41, 42, 80);
	background-image: none;
	background-position: 0% 0%;
	background-repeat: repeat;
	color: rgb(255, 255, 255);

	/* Box */
	height: 786.075px;
	width: 1479.2px;
	border: 0px none rgb(255, 255, 255);
	border-top: 0px none rgb(255, 255, 255);
	border-right: 0px none rgb(255, 255, 255);
	border-bottom: 0px none rgb(255, 255, 255);
	border-left: 0px none rgb(255, 255, 255);
	margin: 0px;
	padding: 128px 64px 32px;
	max-height: none;
	min-height: 0px;
	max-width: 1479.2px;
	min-width: 0px;

	/* Positioning */
	position: static;
	top: auto;
	bottom: auto;
	right: auto;
	left: auto;
	float: none;
	display: flex;
	clear: none;
	z-index: auto;

	/* List */
	list-style-image: none;
	list-style-type: disc;
	list-style-position: outside;

	/* Table */
	border-collapse: separate;
	border-spacing: 0px 0px;
	caption-side: top;
	empty-cells: show;
	table-layout: auto;

	/* Miscellaneous */
	overflow: visible;
	cursor: auto;
	visibility: visible;

	/* Effects */
	transform: none;
	transition: all 0s ease 0s;
	outline: rgb(255, 0, 0) dashed 0.8px;
	outline-offset: 0px;
	box-sizing: border-box;
	resize: none;
	text-shadow: none;
	text-overflow: clip;
	word-wrap: normal;
	box-shadow: none;
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}