/* Importing the DM Sans font */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap');

body{
    background-color: #DBC2F5;
    margin: 0;
    width:100%;
    
}
/* Adding style to the container that has the image and content */
.homepage{
    display: flex; 
    flex-direction: row;
    margin: 5%;
    overflow-x: hidden;
    
}
/* Adding style to the image */
.homepage .image{
    display: flex;
    justify-content: center;
}
.homepage img{
    width: 400px;
}
/* Adding style to the container that holds the content */
.homepage .details{
    margin-left: 8%;
    font-family:'DM Sans', 'sans-serif';
    font-size: large;
    
}
/* Adding style to the paragraph content */
.homepage p{
    margin-top: 20px;
    font-size: 1.0rem;
    
}
/* Adding style to the header */
.homepage h3{
    margin-top: 15%;
}
/*Responsivess for mobile devices*/
@media (max-width:1000px) {
    .homepage{
        display: flex;
        flex-direction: column;
    }
    
}
@media (max-width: 768px){
    
    .homepage img{
        width: 50%;
    }
   .details h3{
        font-size: 1rem;
        text-align: center;
   }

   .homepage p{
        text-align: center;
        font-size: 1.0rem;
   }
   
}

@media (max-width:480px){
   
    .homepage .image{
        padding: 20px;
    }
    .homepage img{
        width: 50%;
        
    }
    .homepage p{
        margin-top: 20px;
        font-size: 0.5rem;
        
    }
    .details h3{
        font-size: 1rem;
        text-align: center;
   }
   .homepage h3{
    font-size: 0.7rem;
    }
}

@media (max-width: 360px){
   
    .homepage{
        display: flex;
        flex-direction: column;
    }
    .homepage img{
        width: 100%;
    }

   
    .homepage p{
        font-size: 0.3rem;
    }
    .homepage h3{
        font-size: 0.7rem;
    }
}