    #main-container{
        background-color: #f8f7f3;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    h1{
        margin-bottom: 50px;
    }
    
    #test{
    
      padding: 5%;
    
    }
    #test-grid{
        display: grid;
        width: 100%;
        grid-template-columns: 100px 50px 100px;
        justify-content: space-between;
    }
    #test-grid::after{
        content: "";
        display: block;
        background-color: #ccc;
        height: 2px;
        margin: 40px 0; /* 40px top and bottom, 0 left and right */
        width: 1430px;
    }
    #test-grid h2{
        white-space: nowrap;
       color: rgb(82, 80, 80);
    }
    #test-grid p{
        white-space: nowrap;
        color: #bdb8b8;
        font-weight: 600;
        align-self: center;
    }
    #read-more{
     text-align: right;
     align-self: center;
    }
    hr{
        margin:2em 0;
        width: 100%;
        color: rgb(56, 55, 55);
    }