* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
  background: #f9f8f4;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Navbar Styling */
.navbar__container {
  max-width: 1502px;
  margin: 0 auto;
  padding-block: 53px;
}

.nav__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img.logo {
  width: 153px;
  height: 65px;
  object-fit: contain;
  cursor: pointer;
  filter: brightness(0) grayscale(10);
}

.nav__links {
  display: flex;
  align-items: center;
  gap: 34px;
  list-style: none;
  font-size: 18px;
}

button.contact_us-btn {
  font-size: 18px;
  background: #2d2e52;
  color: #fff;
  border-radius: 24px;
  padding: 12px 24px;
  border: none;
}

/* Hero Section */
.hero-section__container {
  max-width: 1502px;
  margin: 0 auto;

  display: flex;
  align-items: center;
  padding: 10px 0;
  max-height: 796px;
}

.hero_section-desc {
  flex: 1;
}

.hero_title {
  font-size: 82px;
  font-weight: 500;
}

.hero_desc {
  font-size: 40px;
  font-weight: 400;
}

.hero_btn {
  margin-top: 30px;
  border: none;
  cursor: pointer;
  background: #000;
  color: #fff;
  font-size: 18px;
  padding: 8px;
  border-radius: 29px;

  display: flex;
  align-items: center;
  gap: 10px;
}

.right-arrow {
  background: #fff;
  color: #000;
  width: 42px;
  height: 42px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.hero_section-img {
  flex: 1;
}

.hero_image-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Responsive design */
@media screen and (max-width: 1024px) {
  .hero-section__container {
    /* background: red; */
    padding-inline: 20px;
  }

  .hero_title {
    font-size: 72px;
  }

  .hero_desc {
    font-size: 32px;
  }
}

@media screen and (max-width: 640px) {
  .hero-section__container {
    flex-direction: column-reverse;
    max-height: max-content;
  }

  .hero_section-desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .hero_image-cover {
    height: 60vh;
    object-fit: contain;
  }
}
