
/*{footer styling}*/

  @import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap');

*{margin: 0;} *

.footer-background{
  padding-top: 10px;
}
.footer-section{
  padding-top: 10px;
  background-color:#292a50;
  border-radius: 70px 70px 0px 0px;
  height: 760px;

}


.header{
  text-align: center;
  padding-top: 100px;
}

.footer-span{
  color: #fff;
  font-family: 'DM Sans', sans-serif;
  font-size: 3.5rem ;
}

.mobile-screen {
  display: none;
}

/*{button styling and the hover effects}*/
/* hide the mobile screen changes */
.mobile-footer-button{
  display: hide;
}
.mobile-text {
  display: block;
  transform: scale(0);
}
.mobile-button-footer {
  display: block;
  transform: scale(0);
}
.footer-button {
  text-align: center;
  border-width: thin;
  border-color: #fff;
  padding-top: 35px;
  border-radius: 50px;
  border-style: solid;
  width: 15%;
  height: 3px;
  margin: 0 auto;
  margin-top: 40px;
  position: relative;
}

.footer-button .text {
  position: absolute;
  top: 25%;
  left: 5%;
  transform: translateX(0);
  font-family: 'DM Sans', sans-serif;
  font-size: 14px;
  transition: transform 1s ease, color 1s ease;
  color: #fff;
}

.button-footer {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  background-color: #fff;
  background-image: url('/src/images/black-arrow.png');
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  position: absolute;
  top: 8%;
  right: 2%;
  transform: translateY(0%);
  transition: transform 1.5s ease, background-color 1.5s ease;
}


.button-footer img {
  width: 100%;
  height: 100%;
}

.footer-button:hover {
  background-color: #fff;
  transition: 1.5s;
}
.footer-button:hover .text {
  transform: translateX(45px);
  color: black;
}
.footer-button:hover .button-footer {
  transform: translateX(-555%);
  background-color: black;
  height: 30px;
  width: 30px;
  top: 10%;
  background-image: url('/src/images/white-arrow.png');
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}

/*{contacts, location and other links}*/
.mobile-footer{
  display: hide;
}
.mobile-Footer-a {
  display: none;
}
.horizontal-line{
  width: 82%;
  margin:0 auto;
  margin-top: 100px;
}

.footer-footer{
  display: table;
}

.Footer-a{
  color: #fff;
  font-family: 'DM Sans', sans-serif;
  font-size:15px;
  padding-left: 80px;
  padding-top: 20px;

}

ul {
  display: inline-block;
  margin: 0px;
  display: table-cell;
}

a {
  margin-left: 80px;
  color: #fff;
  font-family: 'DM Sans', sans-serif;
  font-size: 12px;
}

/*{logo and the social media icons}*/

.footer-logo img {
  width: 150px;
  height: auto;
  padding-left: 115px;
  padding-top: 100px;
}

.socials {
  bottom: 200px;
  right: 10px;
  display: flex;
  justify-content: flex-end;
}


#facebook {
  width: 10px;
  height: auto;
  margin-left: 20px;
  margin-top: -50px;
}

#instagram {
  width: 30px;
  margin-left:25px;
  margin-top: -50px;
}

#linkedIn {
  width: 30px;
  margin-left: 20px;
  margin-top: -50px;
  margin-right: 150px;
}

/* media query for mobile screen */

@media (max-width: 667px) {
  *{margin: 0;} *
  .button-footer{
    display: none;
  }

  .footer-span{
    display: none;
  }

  .footer-section{
    padding-top: 10px;
    background-color:#000;
    border-radius: 30px 30px 0px 0px;
    height: 750px;
    width: 277px;
  }

  .mobile-screen{
    color: #fff;
    text-align: center;
    display: inline;
  }

  .mobile-span{
    font-family: 'DM Sans', sans-serif;
    font-size: 19px;
  }

  /*{button styling and the hover effects}*/

.footer-button {
  display: none;
}
.mobile-footer-button {
  text-align: center;
  border-width: thin;
  border-color: #fff;
  padding-top: 35px;
  border-radius: 50px;
  border-style: solid;
  width: 80%;
  height: 3px;
  margin: 0 auto;
  margin-top: 40px;
  position: relative;
}

.mobile-footer-button .mobile-text {
  position: absolute;
  top: 25%;
  left: 5%;
  transform: translateX(0);
  font-family: 'DM Sans', sans-serif;
  font-size: 14px;
  transition: transform 1s ease, color 1s ease;
  color: #fff;
}

.mobile-button-footer {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  background-color: #fff;
  background-image: url('/src/images/black-arrow.png');
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  position: absolute;
  top: 8%;
  right: 2%;
  transform: translateY(0%);
  transition: transform 1.5s ease, background-color 1.5s ease;
}

.moblile-button-footer img {
  width: 100%;
  height: 100%;
}

.mobile-footer-button:hover {
  background-color: #fff;
  transition: 1.5s;
}
.mobile-footer-button:hover .mobile-text {
  transform: translateX(45px);
  color: black;
}
.mobile-footer-button:hover .mobile-button-footer {
  transform: translateX(-610%);
  background-color: black;
  height: 30px;
  width: 30px;
  top: 10%;
  background-image: url('/src/images/white-arrow.png');
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}

/* footer in mobile screen  */
.footer-footer{
  display: none;
}
.horizontal-line{
  display: none;
}
.mobile-footer{
  display: table;
}

.mobile-Footer-a{
  color: #fff;
  font-family: 'DM Sans', sans-serif;
  font-size:15px;
  padding-left: 20px;
  padding-top: 20px;
}

.mobile-Footer-a {
  display: inline-block;
  margin: 0px;
  display: table-cell;
}

.mobile-Footer-a {
  margin-left: 20px;
  color: #fff;
  font-family: 'DM Sans', sans-serif;
  font-size: 12px;
  
}
.mobile-footer-links{
  margin-left: 20px;
}

}
