* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
  background: #f9f8f4;
}

a {
  color: inherit;
  text-decoration: none;
}

.footer_container {
  height: 100vh;
  background: #292a50;
  border-radius: 100px 100px 0 0;
}

.footer_wrapper {
  max-width: 1502px;
  margin: 0 auto;
  padding-top: 160px;

  display: flex;
  flex-direction: column;
  gap: 80px;
}

.top_footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 75px;
}

.footer_desc {
  font-size: 72px;
  line-height: 80px;
  font-weight: 500;
  color: #fff;
  text-align: center;
  max-width: 996px;
}

.hero_btn {
  margin-top: 30px;
  border: none;
  cursor: pointer;
  background: #000;
  color: #fff;
  font-size: 18px;
  padding: 8px;
  border-radius: 29px;

  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-btn {
  background: transparent;
  border: 1px solid #fff;
  padding: 8px 9px 8px 24px;
  font-size: 16px;
  gap: 16px;
}

.right-arrow {
  background: #fff;
  color: #000;
  width: 42px;
  height: 42px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom_footer {
  border-top: 1px solid #d2d0d0;
  padding: 24px 12px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.bottom_footer-links-container {
  display: flex;
  justify-content: space-between;
}

.footerlink-wrapper {
  display: flex;
  flex-direction: column;
  gap: 36px;
  color: #fff;
  text-align: left;
}

.footerlink_header {
  font-size: 18px;
  line-height: 30px;
  font-weight: 600;
}

.footerlink_body {
  font-size: 18px;
  line-height: 30px;
  list-style: none;
  opacity: 0.76;
}

.bottom_footer-navsocials-container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.footer_logo {
  width: 175px;
  height: 75px;
  object-fit: contain;
  cursor: pointer;
  filter: brightness(0) invert(1) grayscale(1) contrast(10000%);
}

.footersocials_container {
  display: flex;
  align-items: center;
  gap: 36px;
}

.footersocial_link {
  width: 24px;
  height: 24px;
  object-fit: contain;
  cursor: pointer;
}
