* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #F9F8F4;
}

header {
    position: relative;
    padding: 0 2rem;
}

.navbar {
    width: 80%;
    height: 60px;
    max-width: 900px;
    margin: 0 auto;
    margin-top: 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

li {
    list-style: none;
} 

a {
    text-decoration: none;
    color: #000000;
    font-size: 14px;
}

.logo-img{
    width: 153px;
    height: 65px;
    color: #000000;
    filter: brightness(0%) contrast(100%);
}

.nav_2_links:hover {
    text-decoration: underline;
}

/*This one goes to the web screen*/
.navbar .links {
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn {
    color: #000000;
    font-size: 24px;
    display: none; 
}

.action_btn {
    background-color: #2D2E52;
    padding: 5px 10px;
    border: none;
    outline: none;
    border-radius: 20px;
    color: #FFFFFF;
    font-size: 12px;
    line-height: 22px; 
    transition: scale 0.2 ease;
}

/*Dropdown menu*/
.navbar_dropdown_menu {
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 500px;
    background: #F9F8F4;
    border-radius: 10px;
    overflow: hidden;
    /* transition: height 0.2s cubic-biezer(0.175, 0.885, 0.32, 1.275); */
}

.navbar_dropdown_menu.open {
    height: 70vh;
    transition: transform .3s ease-in-out,opacity .3s ease-in-out;
}

.navbar_dropdown_menu li {
    padding: 1.0rem;
    display: flex;
    align-items: center;
}

.navbar_dropdown_menu .dropdown_action_btn {
    width: 50%;
    height: 8%;
    display: flex;
    justify-content: center;
    background-color: #2D2E52;
    padding: 5px 5px;
    margin-top: 5%;
    margin-left: 10%;
    border: none;
    outline: none;
    border-radius: 30px;   
}

.navbar_dropdown_menu .dropdown_action_btn a {
    color: #FFFFFF;
    font-size: 16px;
    line-height: 22px; 
}

/*ReSPONSIVE DESIGN*/
@media (max-width:768px) {
    .navbar {
        width: 100%;
        margin-top: 10%;
    }   

    .navbar .links,
    .navbar .action_btn {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .navbar_dropdown_menu {
        display: block;
        width: unset;
        left: 40%;
        top: 300px;
    }

    .navbar_dropdown_menu a {
        align-items: center;
        font-size: 30px;
    }
}

@media (max-width: 576px) {
    .navbar_dropdown_menu {
        left: 5rem;
        top: 200px;
    }

    .logo-img{
        width: 110px;
        height: 50px;
    }

    /* .navbar_dropdown_menu li */
}