#homePage{
    position:relative;
    height: 7428px;
}
#header {
    display:flex;
    position: relative;
    top:53px;
    left:209px;
    width:1502px;
    height:65px;
    
}

.logo{
    margin-right: 33%;
    width:153px;
    height:65px;
}
.homeLinks {
    /*outline:3px solid black;*/
    justify-content: space-between;
    margin-top:12px ;
    margin-right: 20%;
    width: 700px;
    height: 24px;
    opacity: 1;
    /*text*/
    text-align: left;
    font:normal normal normal
    18px/100px ;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    color: #000000;
    opacity: 1;
}
#arrowDown{
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding:3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.dropDown{
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}
.dropdown:hover .dropdown-content {
    display: block;
}
  
#contactNavBtn {
  
    width: 134px;
    height: 44px;

    background: #2D2E52 0% 0% no-repeat padding-box;
    border-radius: 22px;
    opacity: 1;
    /*text*/
    position: relative;
    text-align: center;
    font:normal normal normal 18px/100px ;
    font-family: DM sans-serif;
    letter-spacing: 0px;
    color:#FFFFFF;
    opacity: 1;
}
.button {
    cursor: pointer;
}
#homeFlexBox {
    
    position:relative;
    display: flex;
    top:181px;
    left:209px;
    width: 1502px;
    height:796px;

}
.homepageImage {
    position:absolute;
    left:350px;
    width: 803px;
    height: 796px;
    background: transparent 0% 0% no-repeat padding-box;
    opacity: 0.85;

}
h1 {
    position:absolute;
    top: 272px;
    width: 839px;
    height: 106px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style:normal;
    font-size: 82px/110px;
    letter-spacing: 0px;
    color:#000000;
    opacity: 1;
}
#p1 {
    position:absolute;
    top: 360px;
    width: 839px;
    height: 52px;
    
}

.homePara{
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size:larger ;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}
#UYPbtn {
    position: relative;
    top: 500px;
    width: 267px;
    height: 58px;
    background: #000000 0%;
    border-radius: 29px;
    opacity: 1;
    display: flex;
    align-items: center;
    /* Text */
    text-align: left;
    font-style: normal;
    font-weight: bold;
    font-size: small;
    line-height: 42px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0px;
    color: #FFFFFF;
    transition: background-color 0.3s, color 0.3s, left 0.3s; /* Transition properties for background, text color, and margin-left */
    overflow: hidden;
}
#buttonContent {
    display: flex;
    align-items: center;
}
#buttonText {
    position:absolute;
    left:10px;
    /*outline:2px solid yellow;*/
    transition:left 0.3s;
    background-color: #000000;
}
  
#btnCircle {
    position: absolute;
    top: 50%;
    left: 230px;
    transform: translate(-50%, -50%);
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: #fff;
    transition: left 0.3s; /* Add a smooth transition effect for horizontal movement */
    
}
.rightArrow {
    width: 30px; /* Adjust the width as needed */
    height: 10px; /* Adjust the height as needed */
    display: inline-block;
    position: relative;
}
  
.arrowBar {
    margin-left: 3px;
    width:70%;
    height: 4px; /* Adjust the thickness of the arrow bar */
    background-color: #000; /* Adjust the color as needed */
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
#UYPbtn:hover .arrowBar {
    background-color: #FFFFFF; /* Change arrow bar color to white on hover */
}
.arrowHead {
    width: 0;
    height: 0;
    border-left: 10px solid transparent; /* Adjust the size of the arrow head */
    border-right: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left-color: #000; /* Adjust the color to match the arrow bar */
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
#UYPbtn:hover .arrowHead {
    border-left-color: #FFFFFF; /* Change arrow head color to white on hover */
}

#UYPbtn:hover #btnCircle {
    background-color: #000000; 
    left:30px; /* Move btnCircle to the right on hover */
}
#UYPbtn:hover #buttonText {
    background-color: #FFFFFF;
    left: 40%; /* Move to the right on hover */
}

#UYPbtn:hover {
    background-color: #FFFFFF; /* Change background to white on hover */
    color: #000000; /* Change text color to black on hover */
}

#partnerSctn{
    /*outline:2px solid green;*/
    position: absolute;
    justify-content: space-between;
    display:inline-flex;
    top: 1082px;
    left:184px;
    width:1527px;
    height:129px;
    opacity:1;
    mix-blend-mode: multiply;

}
.partners{
   position: relative;
   /*dividing partner's section into equal parts*/
   width: 184px;
   height: 129px;
   
}

/*css responsive layout*/
/*  media query for tablets */
@media (max-width: 1024px) {
    #header {
        left: 0px; /* Adjust header position */
        width: auto; /* Allow header to expand */
    }
    #logo{
        margin-right:0%;
    }

    .homeLinks {
        position: relative;
        left:-10%;
        margin-right: 10%; /* Adjust margin */
        width: 500px; /* Adjust width */
    }

    #homeFlexBox {
        position: relative;
        margin-top: -15%;
        left: 20px; /* Adjust flex container position */
        width:30%;
        width: auto; /* Allow flex container to expand */
        
    }

    .homepageImage {
        position: relative;
        top:10%;
        left: 12%; /* Adjust image position */
        width: 70%; /* Adjust image width */
        height: 80%;
    }

    h1 {
        width: 70%; /* Adjust heading width */
    }
    p1 {
        width:70%;
        line-height: 50%;
    }

    #UYPbtn {
        left: 0px; /* Adjust button position */
        
    }
    #partnersSctn{
        position:relative;

    }

    
}
/*phone layout*/
@media (max-width: 600px){
    #header {
        left: 0px; /* Adjust header position */
        width: auto; /* Allow header to expand */
    }
    #logo{
        margin-right:0%;
    }
    h1{
        position: absolute;
        margin-top: -10%;
        width:70%;
    }
    #p1{
        position: absolute;
        width:70%;
        margin-top: -20%;
    }
    #contactNavBtn{
        display:none;
    }
    .homeLinks {
        display:none;
        position: relative;
        left:-10%;
        margin-right: 10%; /* Adjust margin */
        width: 500px; /* Adjust width */
    }

    #homeFlexBox {
        position: relative;
        display:block;
        margin-top: -70%;
        left: 20px; /* Adjust flex container position */
        width:30%;
        width: auto; /* Allow flex container to expand */
        
    }

    .homepageImage {
        position: relative;
        top:40%;
        left: 0; /* Adjust image position */
        width: 80%; /* Adjust image width */
        height: 60%;
    }
    #UYPbtn {
        position:absolute;
        margin-top: -30%;
        left: 0px; /* Adjust button position */
        width:-20%;
        height:-20%;
    }


}
