/* .header{
    top: 230px;
    left: 209px;
    text-align: left;
    margin-left: 20px;
    font: normal normal medium 72px/80px DM Sans;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    /* padding-left: 60px; */
/* } */ 

#main-container{
    background-color: #f8f7f3;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


}
h1{
    margin-bottom: 50px;

}

#test{

  padding: 5%;


}
#test-grid{
    display: grid;
    width: 100%;
    grid-template-columns: 100px 50px 100px;
    justify-content: space-between;


}
#test-grid::after{
    content: "";
    display: block;
    background-color: #ccc;
    height: 2px;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 1430px;



}
#test-grid h2{
    white-space: nowrap;
   color: rgb(82, 80, 80);
}
#test-grid p{
    white-space: nowrap;
    color: #bdb8b8;
    font-weight: 600;
    align-self: center;

}
#read-more{
 text-align: right;
 align-self: center;
}
hr{


    margin-top:2em;
    margin-bottom: 2em;
    width: 100%;
    color: rgb(56, 55, 55);


}