*{
    text-decoration: none;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif; 
}

/* Apply styles to the container */
/* section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f2f2f2;
} */


.navbar-container{
    display: flex;
}
.logo img{
    padding: 5px;
    width: 150px;
    margin-left: 50px;
    filter: brightness(0);
}
.navbar ul {
    margin-left: 80px;
    list-style: none;
    display: flex;
}

.navbar li {
    margin-right: 80px;
}

.navbar img{
    width:30px;
    margin-left: -80px;
}


#underline{    
    border-bottom: 2px solid #333;
    padding-bottom: 2px;
    text-decoration: underline;
    font-weight: bold;
}
.nav-button button{
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    color: white;
    background-color: navy;
    border-radius: 30%;
    width: 130px;
    height: 7vh;
    margin-left: 150px;
}

.title{
    margin-top: 30vh;
    flex-direction: row-reverse;
    align-items: center;
    margin-left: 50px;
}
.title h2 {
    font-size: 3.6rem;
    margin-top: 20px;
}
.title h4 {
    font-size: 1.5rem;
    margin-top: 10px;
}

.slidecontainer {
    display: flex;
    flex-direction: column;
    align-items: center; /* Vertically center contents */
    margin-top: 10px;
    margin-left: 50px;
    border: solid 2px black;
    background-color: black;
    color: whitesmoke;
    text-align: center;
    border-radius: 20px;
    width: 200px;
    height: 50px;
}


.slidecontainer:hover {
    background-color: grey;
    transition: ease 3s;
    }
    
.slidecontainer:hover button {
    transform: translateX(-150px);
    }
.slidecontainer button {
    margin-top: 10px;
    border: solid 2px white;
    background-color: white;
    background-image: url(/src/elements/assets/toRightArrow_tlcdnk.svg);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    transition: transform 0.3s ease;
    }

.display-photo img {
    margin-left: 50%;
    max-width: 500px;
    margin-top: -45vh;
}