*{
    text-decoration: none;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif; 
    padding: 0;
}

body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.Navbar{
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 20px;  
    display: flex; 
}
.logo{
    filter: brightness(0);
    width: 20%;
    max-height: 20%;
}
button{
    border: solid 2px rgb(1, 1, 1);
    color: white;
    background-color: navy;
    border-radius: 10%;
    width: 100px;
    height: 50px;
}

