*{
    margin: 0;
    padding: 0;
}


body{
    /* background-image: url(); */
    background-color: #fcf8ea;
    width: 100%;
    height: 100%;
    max-height: 100%;
    overflow: hidden;
}
/* headers */
.header{
    position: relative;
    display: grid;
    place-items: center;
    width:70%;
    margin-left: 200px;
    margin-top: -50px;
}
#logo{
width: 160px;
height: 80px;
position: relative;
margin-left: 10%;
margin-top: 15px;

}

.header nav a{
    text-decoration: none;
    color: black;
    font-size: large;
    margin-left: 40px;

}

.header nav .material-symbols-outlined{
    position: relative;
    top: 9px;
}
.header button{
    width: 120px;
    height: 40px;
    border-radius: 25px;
    background-color: rgb(3, 3, 92);
    color: white;
    text-decoration: none;
    margin-left: 100%;
    border: none;
    font-size: 1rem;
    margin-top: -30px;
}

/* end of nav bar */
/* introduction  */
.content{
    position: absolute;
    width: 700px;
    height: max-content;
    margin-left:20%;
    margin-top: 10%;
    overflow: hidden;
}


.content h1{
    font-size: 3.0rem;
    font-weight: bold;    
font-family: 'Roboto', sans-serif;

}
.content #description{
font-size: 1.3rem;
font-family: 'Roboto', sans-serif;
margin-top: 30px;
}
span{
    font-size: 1.3rem;
    font-family: 'Roboto', sans-serif;
}
.content button{
    color: white;
    background-color: black;
    border: none;
    margin-left: 0px;
    margin-top: 40px;
    height: 45px;
    border-radius:20px 20px 20px;
    width: 200px;
    display: flex;
    flex-direction: row;
    }
.content #mssg{
    font-size: 0.8rem;
    font-weight: bolder;
    margin-left: 10px;
    margin-top: 15px;
}   
.content .material-symbols-outlined{
width: 25px;
background-color: white;
color: black;
border-radius: 50%;
margin-left: 30%;
margin-top: 9px;
}  

.looped4{
 background-image: linear-gradient(to right,#fcf8ea,#ebc359);
 width: 400px;
 height: 400px;
 border-radius: 50%;
 margin-top: 28%;
 transform: rotate(260deg);
 margin-left: 18%;

}



.looped5{
    background-image: linear-gradient(to right,#fcf8ea,#ebc359); 
    width: 600px;
    height: 400px;
    margin-top: -23%;
    border-bottom-left-radius: 200px;
    border-top-left-radius: 200px;
    border-bottom-right-radius: 200px;
    border-top-right-radius: 200px;
    margin-left: 45%;
    transform: rotate(-90deg);
}
.looped6{
    background-image: linear-gradient(to right,#fcf8ea,#ebc359); 
    width: 800px;
    height: 400px;
    margin-top: -23%;
    border-bottom-left-radius: 200px;
    border-top-left-radius: 200px;
    border-bottom-right-radius: 200px;
    border-top-right-radius: 200px;
    margin-left: 75%;
    transform: rotate(-90deg);
}

    


